<section ng-controller="TasksCtrl">
    <div class="text-center">
        <form role="form">
            <div class="form-group">
                <select ng-model="leMedoc" class="form-control">
                    <option value="">Sélectionner le médicament</option>
                    <option ng-repeat="medoc in medocs" value="{{medoc.info.name}}">{{medoc.info.name}}</option>
                </select>
                <br/>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' id="time" placeholder="A quelle heure ?" class="form-control" data-date-format="HH:mm"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-clock"></span>
                    </span>
                </div>
                <br/>
                <input class="form-control" type="text" placeholder="Indiquez un commentaire ..." ng-model="medocCom">
            </div>
            <br/>
            <div class="text-center">
                <button class="btn btn-default" ng-click="addTask()">Valider</button>
            </div>
    </div>
    </form>
    </div>
    <script type="text/javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker({
            language: 'fr',
            pickDate:false
        });
    });
    </script>
</section>
