<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SmartMediBox</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#stock">
                        Stock
                    </a>
                </li>
                <li>
                    <a href="#planning">
                        Planning
                      </a>
                </li>
                <li>
                    <a href="#addDrugs">
                        Rajouter un medicament
                    </a>
                </li>
                <li>
                    <a href="#param">
                        Paramètres
                    </a>
                </li>
                <li>
                    <a href="#">
                        Se Déconnecter
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
