<section>
    <table class="table striped bordered hovered">
        <thead>
            <tr>
                <th>Médicament</th>
                <th>Heure</th>
                <th>Commentaire</th>
                <th width="2%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Insuline
                </td>
                <td>
                    18h
                </td>
                <td>
                    Pour éviter de mourir
                </td>
                <td>
                    <button class="danger">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Viagra</td>
                <td>22h</td>
                <td>
                    Si madame est d'accord
                </td>
                <td>
                    <button class="danger">
                        <i class="icon-remove"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
