<section>
    <table class="table striped bordered hovered">
        <thead>
            <tr>
                <th>Médicament</th>
                <th>Quantité</th>
                <th width="2%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Aspirine
                </td>
                <td>
                    2
                </td>
                <td>
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Viagra</td>
                <td>42</td>
                <td>
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
