<section ng-controller="StockCtrl">
    <table class="table striped bordered hovered">
        <thead>
            <tr>
                <th>Médicament</th>
                <th>Quantité</th>
                <th width="2%"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="medoc in medocs">
                <td>
                   {{medoc.info.name}}
                </td>
                <td>
                    2
                </td>
                <td>
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
